<div class="sidebar">
    <div class="logo">
        <a href=""><img src="" class="logo-img"></a>
    </div>
    <hr>
    <div class="menu">
      <ul class="menu-ul">
        <li class="menu-list"><a href="home" class="menu-list-sidebar"><i class="fa fa-line-chart"></i>Dashboard</a></li>
        <li class="menu-list"><a href="" class="menu-list-sidebar"><i class="fa fa-user-circle"></i>user profile</a></li>
        <li class="menu-list"><a href="" class="menu-list-sidebar"><i class="fa fa-address-book"></i>table list</a></li>
        <li class="menu-list"><a href="" class="menu-list-sidebar"><i class="fa fa-calculator"></i>typography</a></li>
        <li class="menu-list"><a href="" class="menu-list-sidebar"><i class="fa fa-puzzle-piece"></i>icons</a></li>
        <li class="menu-list"><a href="" class="menu-list-sidebar"><i class="fa fa-location-arrow"></i>maps</a></li>
        <li class="menu-list"><a href="" class="menu-list-sidebar"><i class="fa fa-bell"></i>notifications</a></li>
      </ul>
    </div>
  </div>